In [1]:
def myfn1():
    answer = input("Who are you?")
    print("your answer is {}".format(answer))

print(myfn1())

Who are you?Tom
your answer is Tom
None

In [2]:
# Positional Arguments
def fn_with_positional_arguments(name, age):
    print("당신의 이름은 {}이며, 나이는 {}입니다.".format(name, age))
    
fn_with_positional_arguments("Tom", 10)

당신의 이름은 Tom이며, 나이는 10입니다.

In [5]:
# Keyword Arguments
def fn_with_keyword_arguments(name="", age=0):
    print("당신의 이름은 {}이며, 나이는 {}입니다.".format(name, age))

fn_with_keyword_arguments(name="Tom", age=10)
fn_with_keyword_arguments()
fn_with_keyword_arguments(age=10, name="Tom")

당신의 이름은 Tom이며, 나이는 10입니다.
당신의 이름은 이며, 나이는 0입니다.
당신의 이름은 Tom이며, 나이는 10입니다.

## 가변인자

In [6]:
def mysum2(x, y):
    return x + y

def mysum3(x, y, z):
    return x + y + z

def mysum(numbers):
    result = 0
    for i in numbers:
        result += i
    return result

print(mysum([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

55

In [9]:
def mysum(*args):
    result = 0
    for i in args:
        result += i
    return result

print(mysum())
print(mysum(1, 2, 3, 4, 5, 6, 7))
print(mysum(1, 2, 3, 4, 5, 6, 7, 8, 9))
print(mysum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

0
28
45
55

In [11]:
def mysum_minimum_2_args(x, y, *args):
    print(x, y, args)
    result = x + y
    for i in args:
        result += i
    return result

print(mysum_minimum_2_args(1, 2))
print(mysum_minimum_2_args(1, 2, 3))
print(mysum_minimum_2_args(1, 2, 3, 4))

1 2 ()
3
1 2 (3,)
6
1 2 (3, 4)
10

In [13]:
def mysum(x, y, z):
    return x + y + z

print(mysum(1, 2, 3))

myvalues = [1, 2, 3]
print(mysum(myvalues[0], myvalues[1], myvalues[2]))

print(mysum(*myvalues))

6
6
6

In [17]:
# 가변인자 : Keyword Arguments
def fn2(color1, color2, *args, fruit1=0, fruit2=0, **kwargs):
    print(args)
    print(kwargs)

fn2('white', 'yellow', 'black', apple=10, orange=5, mango=12)

# unpacking
myvalues = {'apple':10, 'orange':5, 'mango':12}
fn2('white', 'yellow', 'black', **myvalues)

('black',)
{'mango': 12, 'orange': 5, 'apple': 10}
('black',)
{'apple': 10, 'orange': 5, 'mango': 12}

In [20]:
# 익명함수
print((lambda x, y: x + y)(1, 2))

def mysum1(x, y):
    return x + y

mysum2 = lambda x, y: x + y

print(mysum1(1, 2))
print(mysum2(1, 2))

3
3
3

In [22]:
mysum3 = lambda *args: sum(args)
print(mysum3(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

55

## 호출가능한 객체

In [30]:
class Calculator(object):
    def __init__(self, base):
        self.base = base
    
    def calc(self, x, y):
        return self.base + x + y
    
    def __call__(self, x, y):
        self.base += (x + y)
        return self.base

calculator = Calculator(10)
print(calculator(1, 2))
# print(calculator.__call__(1, 2))
# print(calculator.calc(1, 2))

print(calculator(1, 2))

print(calculator(1, 2))

13
16
19

## 빌트인 함수

In [31]:
sorted("hello world")

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [32]:
sorted("hello world", reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [39]:
# 임의 기준으로 정렬하기
sort_fn = lambda i: i % 10
mylist = [11, 21, 30, 45, 63]
print(sorted(mylist, key=sort_fn))
print(sorted(mylist, key=sort_fn, reverse=True))

[30, 11, 21, 63, 45]
[45, 63, 11, 21, 30]

In [41]:
mylist = [11, 21, 30, 45, 63]
mylist.sort(key=sort_fn, reverse=True)
mylist

[45, 63, 11, 21, 30]

In [43]:
'''
다음 리스트를 다음 기준으로 정렬해보세요.
1차 기준 : 1의 자리 숫자
2차 기준 : 자릿수
'''
sort_fn = lambda i: [i%10, len(str(i))]
mylist = [10, 11, 9, 20, 12, 313, 211, 121]
mylist.sort(key=sort_fn)
mylist

[10, 20, 11, 211, 121, 12, 313, 9]

In [46]:
# filter 내장함수
list(filter(lambda i: i%10 < 5, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15]))

[1, 2, 3, 4, 10, 12, 13]

In [47]:
list(filter(lambda i: i%10, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 15]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 15]

In [50]:
# map 내장함수
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda i: i**2, mylist)))

# map 을 쓰지 않는다면?
result = []
for i in mylist:
    result.append(i ** 2)
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda i: i*2, filter(lambda i: i%2==0, mylist)))

[4, 8, 12, 16, 20]

In [57]:
# max/min 내장함수
mylist = [10, 9, 20, 31, 43, 123, 431, 932, 999]
print(max(mylist))
print(max(mylist, key=lambda i: i%10))

print(min(mylist))
print(min(mylist, key=lambda i: i%10))

print(max(10, 9, 20, 31, 43, 123, 431, 932, 999))
print(max(*mylist))
print(max(mylist))

999
9
9
10
999
999
999

## 퀴즈

 * 문자열내 브랜드명을 카운트해서, TOP3 출력

In [72]:
line = "Naver Naver Apple      Microsoft Google Apple Microsoft Samsung LG Google Google Naver Naver"
words = line.split()

result = {}
for word in words:
    if word not in result:
        result[word] = 0
    result[word] += 1

# print(list(result))
# print(list(result.keys()))
# print(list(result.values()))
# print(list(result.items()))
result_list = list(result.items())
result_list.sort(key=lambda ele: ele[1], reverse=True)
result_list[:3]

[('Naver', 4), ('Google', 3), ('Microsoft', 2)]

In [80]:
# defaultdict 활용
from collections import defaultdict

line = "Naver Naver Apple      Microsoft Google Apple Microsoft Samsung LG Google Google Naver Naver"
words = line.split()

def get_default_value():
    return 10

result = defaultdict(int)
# result = defaultdict(lambda: 10)
# result = defaultdict(get_default_value)
for word in words:
    result[word] += 1

result_list = list(result.items())
result_list.sort(key=lambda ele: ele[1], reverse=True)
result_list[:3]

[('Naver', 4), ('Google', 3), ('Microsoft', 2)]

In [75]:
int, float, str, list, tuple, set, dict

(int, float, str, list, tuple, set, dict)

In [76]:
int(), float(), str(), list(), tuple(), set(), dict()

(0, 0.0, '', [], (), set(), {})

## 모듈 및 팩키지

In [82]:
import os.path

In [83]:
from os import path

In [84]:
# main 함수 개념은 없지만

def main():
    print("main 함수가 실행되었습니다.")

if __name__ == '__main__':
    main()

main 함수가 실행되었습니다.

## CSV 만들기

In [85]:
f = open("sample.csv", "wt", encoding="utf8")
f.write("col1,col2,col3,col4\n")
f.write("col1,col2,col3,col4\n")
f.write("col1,col2,col3,col4\n")
f.close()

In [87]:
!cat sample.csv

col1,col2,col3,col4
col1,col2,col3,col4
col1,col2,col3,col4

In [90]:
import csv

with open("sample.csv", "wt", encoding='cp949') as f:
    writer = csv.writer(f)
    writer.writerow(['컬럼1', 'col2', 'col3', 'col4'])
    writer.writerow(['col1', 'col2', 'col3', 'col4'])
    writer.writerow(['col1', 'col2', 'col3', 'col4'])
    writer.writerow(['col1', 'col2', 'col3', 'col4'])

In [91]:
!cat sample.csv