# NITs 파이썬/장고 강의 #1

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
lyrics = """The now glows white on the mountain tonight
"Now a footprint to be seen
"A kingdom of isolation\n
"and it looks like I'm the qeen"""

In [9]:
lyrics

'The now glows white on the mountain tonight\n"Now a footprint to be seen\n"A kingdom of isolation\n\n"and it looks like I\'m the qeen'

In [11]:
'%d, %s' % (10, 'Tom')

'10, Tom'

## List

In [12]:
numbers = [1, 3, 5, 7, 9]

In [13]:
numbers[0]

1

In [14]:
numbers[4]

9

In [15]:
numbers[-1]

9

In [16]:
numbers[-5]

1

In [17]:
numbers[10]

IndexError: list index out of range

In [18]:
len(numbers)

5

In [19]:
numbers.__len__()

5

In [20]:
numbers = [1, 3, 5, 7, 5]

In [21]:
numbers[0] = 10

In [22]:
numbers

[10, 3, 5, 7, 5]

In [23]:
numbers.append(9)

In [24]:
numbers

[10, 3, 5, 7, 5, 9]

In [25]:
numbers.pop(3)

7

In [26]:
numbers

[10, 3, 5, 5, 9]

In [27]:
numbers.remove(5)

In [28]:
numbers

[10, 3, 5, 9]

In [29]:
numbers.remove(5)

In [30]:
numbers

[10, 3, 9]

In [31]:
numbers.remove(5)

ValueError: list.remove(x): x not in list

In [32]:
numbers.insert(1, 11)

In [33]:
numbers

[10, 11, 3, 9]

## 슬라이싱

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [35]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [36]:
numbers[3:]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [37]:
numbers[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
numbers[:10:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
numbers[:10:2]

[1, 3, 5, 7, 9]

In [40]:
numbers[:10:3]

[1, 4, 7, 10]

In [41]:
numbers[10:1]

[]

In [42]:
numbers[10:1:-1]

[11, 10, 9, 8, 7, 6, 5, 4, 3]

In [43]:
numbers[::-1]

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [44]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
sum(numbers)

55

In [46]:
sum(numbers[::2])  # 홀수의 합

25

In [47]:
sum(numbers[1::2])  # 짝수의 합

30

In [48]:
# list comprehension
numbers1 = [1, 3, 5, 7]
numbers2 = [2, 4, 6, 8]
print([i + j for (i, j) in zip(numbers1, numbers2)])

[3, 7, 11, 15]

## Tuple, Packing/Unpacking

In [49]:
x = 1
y = 2

In [50]:
temp = x
x = y
y = temp

In [51]:
x

2

In [53]:
new_tuple = y, x

In [58]:
a, b = new_tuple

In [61]:
x, y = [y, x]  # 좌/우측의 인자갯수가 동일해야함.

In [62]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
x, y, z = numbers[-3:]

## 집합

In [64]:
set_numbers = { 1, 3, 4, 5, 1, 4, 3, 1 }

In [65]:
set_numbers

{1, 3, 4, 5}

In [66]:
5 in set_numbers

True

In [67]:
10 in set_numbers

False

In [68]:
20 not in set_numbers

True

In [71]:
set_numbers1 = { 1, 2, 3, 4, 5 }
set_numbers2 = { 4, 5, 6, 7, 8 }

In [72]:
set_numbers1 - set_numbers2

{1, 2, 3}

In [73]:
set_numbers1 | set_numbers2

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
set_numbers1 & set_numbers2

{4, 5}

In [75]:
set_numbers1 ^ set_numbers2

{1, 2, 3, 6, 7, 8}

In [79]:
mytuple1 = (3, 4, 5, 1, 2)
mytuple2 = (3, 4, 5, 6, 7, 8)

In [82]:
result = list(set(mytuple1 + mytuple2))
result.sort()
result

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
mylist = []
mylist = list((1, 2, 3))

mytuple = ()
mytuple = tuple([1, 2, 3])

myset = set((1, 2, 3, 1))

mydict = {}
mydict = dict()

In [85]:
# for 루프 순회 (사전)
dict_values = { 'blue': 10, 'yellow': 3, 'red': 7 }
for key in dict_values:
    print(key, dict_values[key])

for (key, value) in dict_values.items():
    print(key, value)

yellow 3
blue 10
red 7
yellow 3
blue 10
red 7

## 주석

## 한줄 주석

```python
# 주석
```

여러줄 주석은 여러줄 문자열 문법으로 대체

```python
"""내가 이럴려고 파이썬을 했나
자괴감이 들어..."""
```

In [87]:
range?

In [88]:
def mysum(x, y):
    """두 값의 함을 리턴합니다.
    
    인자
    - x : 첫번째 인자
    - y : 두번째 인자
    """
    return x + y

In [89]:
mysum?

## for 반복문

In [91]:
for i in range(5):
    print(i ** 2 )

0
1
4
9
16

In [93]:
for i in [1, 2, 3, 4, 5][2:]:
    print(i)

3
4
5

In [94]:
for i in (1, 2, 3, 4, 5)[1::2]:
    print(i)

2
4

In [95]:
for i in {1, 2, 3, 4, 5}:
    print(i)

1
2
3
4
5

In [97]:
for i in { 'a': 1, 'b': 2, 'c': 3, 'd': 4 }:  # key only
    print(i)

a
c
d
b

In [98]:
{ 'a': 1, 'b': 2, 'c': 3, 'd': 4 }.keys()

dict_keys(['a', 'c', 'd', 'b'])

In [103]:
for i in { 'a': 1, 'b': 2, 'c': 3, 'd': 4 }.keys():
    print(i)

a
c
d
b

In [104]:
for i in { 'a': 1, 'b': 2, 'c': 3, 'd': 4 }.values():
    print(i)

1
3
4
2

In [107]:
for (key, value) in { 'a': 1, 'b': 2, 'c': 3, 'd': 4 }.items():
    # key, value = i
    print(key, value)

a 1
c 3
d 4
b 2